@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;500;600;700&display=swap');

body {
  font-family: "Red Hat Text", sans-serif;
}

.wrapper{
  width: 100%;
  min-height: 100vh;
  background-color: #fcf8f5;
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 75px 0;
}

.blockInfo{
  width: 1350px;
  height: auto;
  display: grid;
  grid-template-columns: 1.35fr 0.65fr;
  padding: 0px 10px ;
  gap: 20px;
}

.listBlock{
  height: auto;
  width: 100%;
}

.cartBlock{
  height: auto;
  place-items: center;
}

@media(max-width:800px){
  .wrapper{
    padding: 0;
  }
  .blockInfo{
    display: grid;
    grid-template-columns: 1fr;
  }
}